h1 {
    color:#ccc;
}
table
{
    width: 100%;
}
table tr td{
    text-align:center;
    border:1px solid gray;
    padding:4px;
}
table tr th{
    border:1px solid gray;
    background-color:#84C7FD;
    color:#fff;
}
table th{
    height: 40px;
}

.itext{
    color:#84C7FD;
    font-weight:bold;
}

#description{
    color:gray;
}
body
{
    font-family:Arial;
}
p {
    margin-top: 5px;
    margin-bottom: 5px;
}